:root {
  --back-color: #2a2a40;
  --border-color: #ceced1;
  --div-color: #3f3f5c;
  --font-color: #dfdfe2;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--back-color);
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 16px;
  line-height: 1.5;
}

fieldset {
  border: none;
}

textarea {
  width: 90%;
  resize: none;
}

input {
  border-radius: 3px;
  margin-left: 5px;
}

select {
  width: 50px;
}

.main-content {
  margin: 20px auto;
  text-align: center;
  width: 50%;
}

.line {
  background-color: var(--div-color);
  border: 1px solid var(--div-color);
  border-radius: 3px;
  color: var(--font-color);
  margin: 30px auto;
  padding: 2%;
  width: 40%;
}

.second-line {
  background-color: var(--div-color);  
  border: 1px solid var(--div-color);
  border-radius: 3px;
  color: var(--font-color);
  margin: 30px auto;
  padding: 3%;
  width: 50%;
}

.second-line textarea {
  margin-top: 20px; 
}

.second-line input {
  margin-top: 10px; 
}

.resid legend {
  margin-bottom: 10px;
}

.resid input {
  margin-left: 15px;
}
