@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: linear-gradient(-90deg, #7c76c5, #8079d6, #7c76c5);
  font-family: 'Noto Sans KR', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
