.button-container {
  margin: 50px auto;
  width: 10%;
}

.poke-button {
  background-color: #2A265F;
  border-radius: 10px;
  border: 2px groove lightblue;
  color: #FFF;
  font-size: 20px;
  height: 60px;
  width: 180px;
  transition: ease 1s;
}

.poke-button:hover {
  background-color: #37327e;
  transform: scale(1.02);
}

.element-container {
  margin: 20px auto;
  width: 60%;
  display: flex;
  justify-content: space-around;
}

.element-button {
  width: 130px;
}

